<h2 class="section-title">Book List</h2>

<div class="button-container" *ngIf="userRole === 'admin' || userRole==='librarian'">
  <button mat-raised-button class="round-button" (click)="openCreateDialog()">+</button>
</div>
<div class="paginator-container">
  <mat-paginator [length]="totalItems" [pageIndex]="pageIndex" [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="books-container">

  <mat-card *ngFor="let book of books" class="book-card">
    <mat-card-header>
      <mat-card-title>{{ book.title }}</mat-card-title>
      <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Publisher:</strong> {{ book.publisher }}</p>
      <p><strong>Publish Year:</strong> {{ book.publicationYear }}</p>
      <p><strong>Page Count:</strong> {{ book.pageCount }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
      <p><strong>Dewey Code:</strong> {{ book.deweyCode }}</p>
      <p [ngClass]="book.isBorrowed ? 'text-red' : 'text-green'">
        {{ book.isBorrowed ? 'Borrowed' : 'Available' }}
      </p>

      <div class="operations-container">
        <button mat-flat-button [hidden]="userRole !== 'admin' && userRole !=='librarian'" [disabled]="book.isBorrowed"
          (click)="openLendDialog(book)">Lend</button>
        <button mat-raised-button (click)="goToBookDetail(book.id)">Detail</button>
        <button mat-icon-button (click)="goToBorrowHistory(book.id)"
          *ngIf="userRole === 'admin' || userRole ==='librarian'">
          <mat-icon>
            history
          </mat-icon>
        </button>
      </div>

    </mat-card-content>

  </mat-card>
  <div *ngIf="books.length === 0">
    <p style="text-align: center;">You have no user records.</p>
  </div>
</div>