.custom-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #b4d4ff;
  height: 10vh;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}