.profile-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #d8e7fc;
}

.profile-avatar {
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}