<form (ngSubmit)="onSubmit(loginForm)" class="login-form" #loginForm="ngForm">
  <h2 class="title">Log In</h2>

  <mat-form-field appearance="outline" class="full-width">

    <mat-label>Email</mat-label>

    <input matInput placeholder="example@example.com" pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
      required [(ngModel)]="loginData.email" name="email" #emailInput="ngModel" />

    <mat-error *ngIf="emailInput.errors?.['required'] && (emailInput.dirty || emailInput.touched)">
      Email is required.
    </mat-error>
    <mat-error *ngIf="emailInput.errors?.['pattern'] && (emailInput.dirty || emailInput.touched)">
      Please enter a valid email address.
    </mat-error>

  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">

    <mat-label>Password</mat-label>

    <input matInput type="password" required [(ngModel)]="loginData.password" name="password"
      #passwordInput="ngModel" />

    <mat-error *ngIf="passwordInput.errors?.['required'] && (passwordInput.dirty || passwordInput.touched)">
      Password is required.
    </mat-error>
    
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Log In
  </button>
</form>

<mat-error *ngIf="serverErrorMessage">
  {{ serverErrorMessage }}
</mat-error>