.title {
    text-align: center;
    color: #3f51b5;
}

.full-width {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vh;
    gap: 10px;
    padding-right: 1rem;
}


button {
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: #e8ebff;
}