.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
    padding: 16px;
    min-width: 350px;
}

h2 {
    text-align: center;
}

.full-width{
    width: 100%;
    margin-bottom: 16px;
}

.mat-form-field {
    width: 100%;
}